#about {
    height: 30rem;
    padding: 2rem;

    display: grid;
    grid-template-areas: 
            "a a b"
            "a a b"
            "c c c";
    gap: 1rem;
}
#about > * {
    padding: 1rem;
}
#hello {
    grid-area: a;
}
#head {
    grid-area: b;
}
#socials {
    grid-area: c;
}
