/* Applies to elements that make use of grid system */
.grid, .column-grid {
	--h: 20vh;
	--gap: 1rem;
	
	width: 100%;
	height: max-content;
	padding: var(--gap);

  display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}

.grid > *, .column-grid > * {
	width: var(--h);
	height: var(--h);

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: space-evenly;

	border-radius: 1rem;
	background-color: var(--glass);
	transition: background-color 0.8s;
	font-size: var(--normal-text);
}

.grid > *:hover, .column-grid > *:hover {
	background-color: var(--opaque-glass);
}

.column-grid {
	flex-direction: column;
	height: 1vh 
}

.column-grid > * {
	height: 10vh;
	width: 100%;
}

.fill-width {
	width: 100%;
}

.width-2 {
	width: calc(2 * var(--h));
}

.width-3 {
	width: calc(3 * var(--h))
}

.height-2 {
	height: calc(2 * var(--h));
}

.height-3 {
	height: calc(3 * var(--h));
}

/* grid items*/
.heading-item {
	text-align: center;
	font-size: var(--larger-text);
	border: solid 0.3rem var(--opaque-glass);
}

.text-item {
	padding: 2rem;
	text-align: center;
}

.invisible-item {
	border-radius: unset;
	background-color: unset;
	transition: unset;
	padding: 0;
}

.invisible-item:hover {
	background-color: unset;
}

/* specific items */
#about-grid {
  --h: 13vh;
	
	width: 100%;
	overflow: hidden;
	
	border-radius: 2.2rem;
}
