/* Applies to elements that make use of grid system */
.grid {
	--grid-layout-gap: 1rem;
  --grid-item--min-width: 20vh;	
	
	width: 100%;
	height: max-content;
	padding: var(--grid-layout-gap);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-item--min-width),1fr));
  grid-auto-rows: var(--grid-item--min-width);
	grid-gap: var(--grid-layout-gap);
}

.grid > * {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	
	border-radius: 1rem;
	background-color: var(--glass);
	transition: background-color 0.8s;
	font-size: medium;
}

.grid > *:hover {
	background-color: var(--opaque-glass);
}

.fill-width {
	grid-column: 1 / -1;
}

.width-2 {
	grid-column: span 2;
}

.width-3 {
	grid-column: span 3;
}

.height-2 {
	grid-row: span 2;
}

.height-3 {
	grid-row: span 3;
}

/* Specific grids and grid items*/
#about-grid {
  --grid-item--min-width: 14vh;	
	
	width: 100%;
	overflow: hidden;
	
	border-radius: 2.2rem;
}

#name-item {
	grid-row: span 3;
	
	text-align: center;
	font-size:xx-large;
}

.heading-item {
	justify-content: space-evenly;
	font-size: 5rem;
	border: solid 0.3rem var(--opaque-glass);
}

@media (max-aspect-ratio: 4/3) {
	.grid {
		--grid-layout-gap: 1rem;
		--grid-item--min-width: 50vw;
		grid-auto-rows: 20vh;
	}
	.width-2 {
		grid-column: 1 / -1;
	}
	.width-3 {
		grid-column: 1/ -1;
	}
}