* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

#content-container {
    overflow: scroll;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: stretch;
}

.container > * {
    border: solid black 1px;
    border-radius: 1rem;
    padding: 1rem;
    flex-grow: 1;
    min-width: 15vh;
}

.heading {
    width: 100%;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewbox {
    width: 100%;
    height: calc(100vw * 0.4);
    padding: 0;
}

.centred {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centred-text {
    text-align: center;
}

.no-border {
    border: none;
}

.section {
    border: none;
    min-height: 100vh;
}

.pill-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-pills {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-self: stretch;
    gap: 1rem;
}
.flex-pills > * {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
}

#about-text {
    min-height: 40vh;
    font-size: large;
}