@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    background: url("../assets/cool-background.jpg");
    background-attachment: fixed;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

#content-container {
    overflow: scroll;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: stretch;
}

.container>* {
    border: solid black 1px;
    border-radius: 1rem;
    padding: 1rem;
    flex-grow: 1;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.container>*:hover {
    background-color: #ffffffaa;
}

.heading {
    width: 100%;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.viewbox {
    width: 100%;
    height: 80vh;
    padding: 0;
}

.centred {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centred-text {
    text-align: center;
}

.no-border {
    border: none;
}

.section {
    border: none;
    min-height: 100vh;
    padding-bottom: 4rem;
}

.section:last-child {
    padding-bottom: 0;
}

.pill-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.flex-pills {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-self: stretch;
    gap: 1rem;
}

.flex-pills>* {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
}

#about-text {
    min-height: 40vh;
}

#codepen-heading {
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}


#nav-container>* {
    min-width: 15vh;
    
}

@media (max-aspect-ratio: 4/3) {
    body {
        display: block;
    }

    #content-container {
        padding: 0;
    }
}