
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	/* Global variables */
	--glass: #ffffff8c;
	--opaque-glass: #fffffff3;
	--active-color: palevioletred;
	--flex-grid-size: 20vh;
	--flex-grid-gap: 1rem;

	--larger-text: 4rem;
	--large-text: 1.2rem;
	--normal-text: 1rem;
	--small-text: 0.8rem;

	box-sizing: border-box;
	padding: 0;
	margin: 0;

	font-size: var(--normal-text);
	font-family: "Poppins", Courier, monospace;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: var(--active-color);
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	
	display: grid;
	grid-template-columns: 3fr 7fr;

	background:
	linear-gradient(to bottom,#48d5ba88, #62bdc988),
	url(https://grainy-gradients.vercel.app/noise.svg);
}

/* Containers */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#content-container {
	padding-left: 3%;
	padding-right: 3%;
	overflow-y: scroll;
	align-items: unset;
}

/* Media Queries */
@media (max-aspect-ratio: 4/3) {
	* {

		font-size: 1.5vh;
		--larger-text: 4rem;
		--large-text: 1.2rem;
		--normal-text: 1rem;
		--small-text: 0.8rem;
	}
	body {
		height: fit-content;
		overflow-x: hidden;
		overflow-y: scroll;
		
		display: unset;

		background-color: orange;
	}

	#about-container {
		height: 100vh;
	}
	#content-container {
		overflow-y: hidden;
	}
}