/* Project-container elements and its children */
.project-container {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.project-image-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.project-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top left;
}

.project-content-container {
	height: 100%;
	width: 100%;
	min-height: 0;
	min-width: 0;
	display: grid;
	padding: 0.8rem;
	row-gap: 0.2rem;
	grid-template-rows: auto auto  3fr 1fr;
	grid-template-areas:
		"t t t t"
		"_ _ d d"
		"p p p p"
		"l l l l"
}

.project-title {
	grid-area: t;
	overflow: hidden;
	font-weight: 600;
	font-size: var(--large-text);
}

.project-date {
	grid-area: d;
	overflow: hidden;
	font-size: var(--small-text);
}

.project-description {
	grid-area: p;
	overflow: hidden;
	font-size: var(--small-text);
	height: 100%;
	width: 100%;
}

.project-links {
	grid-area: l;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.project-links>a>i {
	font-size: var(--large-text);
	padding: 0.3rem;
	color: black;
}

/* codepen */
#codepen {
	display: grid;
	grid-template-areas: 
	"b1 t t b2"
	"b1 d d b2";
	grid-auto-columns: 25%;
}
#previous-codepen {
	grid-area: b1;
}
#next-codepen {
	grid-area: b2;
}
#previous-codepen, #next-codepen{
	width: 100%;
	height: 100%;
	font-size: inherit;
	border: none;
	background-color: transparent;
}
#previous-codepen:hover, #next-codepen:hover{
	color: var(--blue-1);
	background-attachment: black;
}
#codepen-title {
	font-size: inherit;
	grid-area: t;
	text-align: center;
}
#codepen-project-title {
	font-size: var(--normal-text);
	grid-area: d;
	text-align: center;
}

/* Flex pills */
.flex-pills {
	list-style: none;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
.flex-pills > * {
	font-size: var(--small-text);
	background-color: black;
	border-radius: 1rem;
	color: white;
	padding: 0.5rem;
}