.project-container {
    width: 45vh;
    height: 45vh;
    padding: 0;
    overflow: hidden;
}

.project-image-container {
    width: 100%;
    height: 20vh;
}
.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.project-content-container {
    height: calc(100% - 20vh);
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    gap: 0.1rem;
    padding: 1rem;
}

.project-date {
    display: flex;
    justify-content: flex-end;
    font-size: small;
}
.project-description {
    font-size: small;
    text-overflow: ellipsis;
}
.project-links {
    font-size: xx-large;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}